*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    margin:0;
}


#navbar{
    display:flex;
    justify-content: space-between;
    background-color: blue;
    margin:0;
    padding:0;
    border:0;
    top:0;
    position:sticky;

}


.logo{
    width:200px;
    height:100px;
    object-fit:contain;
    margin:0;
    margin-left:10px;
    display:flex;
}

ul{
    display:flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:yellow;
    font-weight: bold;
    font-size:1.5rem;

}

a:hover{
    background-color:red;
    padding:10px;
}


#welcome-section{
    background-color: #008AE0;
    height:1000vh;
    border:0;
    color:yellow;
    display:flex;

}


@media only screen and(max-width:780px){
    body{
        margin:0;
    }
}